@font-face {
    font-family: "Kings Burea FiveOne";
    font-style: normal;
    font-weight: 500;
    src: url(assets/fonts/KingsBureauGrotesqueFiveOne-woff.woff);
}

@font-face {
    font-family: "Kings Burea ThreeSeven";
    font-style: normal;
    font-weight: 700;
    src: url(assets/fonts/KingsBureauGrotesqueThreeSeven-woff.woff);
}

@font-face {
    font-family: "kcl icons";
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/kcl-icons-woff2.woff2);
}

body, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ::placeholder {
    font-family: "Kings Burea ThreeSeven";
}

p, span, a, input {
    font-family: "Kings Burea FiveOne";
}

input::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 1.5rem;
    color: black;
}

header {
    height: 3.64rem;
    background-color: #677179;
}
nav{
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 100%;
    width: 75rem;
    margin: 0 auto;
    align-items: center;
}

.logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 8.12rem;
    height: 6.25rem;
    z-index: 999;
}

ul{
    list-style: none;
}

.dropdown-menu {
    margin-left: 8.12rem;
    height: 100%;
}

.dropdown-menu ul li{
    padding: 0.93rem;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.fa-angle-down {
    margin-top: 0.25rem;
    display: inline-block;
    margin-left: 0.18rem;
}

.dropdown-menu ul {
    text-decoration: none;
    color: white;
    height: 100%;
    display: flex;
}
.dropdown-menu ul li a {
    color: white;
    text-decoration: none;
    padding-left: 0.5rem;
}

.dropdown-menu ul li:hover {
    color: black;
    background-color: #fff;
}

.dropdown-menu ul li:hover a {
    color: black;
}

.dropdown-content ul li a:hover {
    text-decoration: underline;
}

.dropdown-menu ul li:hover .fa-angle-down {
    transform: rotateZ(180deg);
    transition: transform 0.3s ease-in;
}

.dropdown-content {
    display: none;
    top: -100%;
    width: 100%;
    left: 0;
    margin: 0;
    z-index: 5;
    transition: top 0.5s;
}

.dropdown-menu ul li:hover .dropdown-content  {
    display: block;
    position: absolute;
    background-color: white;
    position: fixed;
    top: 3.62rem;
    padding-top: 1.25rem;
    padding-bottom: 3.12rem;
}

.dropdown-menu ul li:hover .dropdown-content ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 8.12rem;
}

.dropdown-menu ul li:hover .dropdown-content ul li {
    width: 33.3%;
    padding: 0.62rem;
}

.dropdown-menu ul li:hover .dropdown-content ul li a {
    color: black;

}

.left-nav {
    display:flex;
    align-items: center;
}

.left-nav ul {
    display: flex;
    align-items: center;
    position: relative;
    background-color: rgba(230, 235, 237, 0.1);
    padding: 0.56rem;
    border-radius: 0.18rem;
}

.left-nav ul li{
    padding-left: 0.93rem;
    padding-right: 0.62rem;
}

.left-nav ul li a{
    color: white;
    text-decoration: none;
}

.left-nav ul li::before {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, .3);
    width: 0.06rem;
    height: 77%;
    bottom: 0.25rem;
    left: 5.87rem;
}

.left-nav ul li::after {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, .3);
    width: 0.06rem;
    height: 77%;
    bottom: 0.125rem;
    right: 4.875rem;
}

.left-nav i{
    background-color: red;
    margin: 0.31rem;
    padding: 0.62rem;
    border-radius: 0.31rem;
    color: white;
}

.left-nav i:hover{
    background: #eb655e;

}

.word {
    width: 12.5rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.swiper {
    width: 100%;
    height: 30.9375rem;
}

.carousel {
    display: flex !important;
    background-color: rgb(10, 45, 80);
    width: 100%;
    height: 30.9375rem;
    color: white;
}

.swiper-button-next, .swiper-button-prev {
    position: relative !important;
}

.swiper-button-next:after, .swiper-button-prev:after {
    display: none !important;
}

.carousel-text{
    width: 50%;
}

.subcarousel {
    width: 37.5rem;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: .625rem 4.5rem .625rem .625rem;
    row-gap: 2.5rem;
}

.subcarousel h1 a{
    color: white;
    text-decoration: underline white;
    margin: 0 0 1.25rem;
    font-size: 2.875rem;
}

.subcarousel h1 a:hover{
    color: #e6ebed;
}

.subcarousel h1{
    line-height: 1.25;
    padding-top: 5rem;
}
.carousel-img {
    width: 50%;
}

.carousel-img img{
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    height: 100%;
}


.subcarousel p{
    line-height: 1.5;
    font-size: 1.5rem;
}

.search-container{
    padding: 1.56rem;
    background-color: rgb(237, 241, 242);
}

.search-container-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-new__controls-wrap{
    font-size: 1rem;
    width: 100%;
}

.carousel-new__controls span{
    font-size: 1rem;
}

.carousel-new__controls{
    margin-top: 3rem;
}


.carousel-new__arrow-btn {
    border-radius: 50%;
    width: 3.12rem !important;
    height: 3.12rem !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border: 0.18rem solid #fff;
    background: none;
}

.carousel-new__counter{
    margin-left: 1.375rem;
    margin-right: 1.375rem;
    font-size: 1rem;
}

.js-total-slides{
    margin-right: 1.375rem;
}

.fa-chevron-left,
.fa-chevron-right{
    color: white;
}
.carousel-new__controls{
    display: flex;
    align-items: center;
}

.search-input{
    position: relative;
}

.search-input input[type=text] {
    padding: 1.125rem;
    font-size: 1.25rem;
    border: 0.18rem solid rgb(205, 215, 220);
    border-radius: 0.31rem;
    float: left;
    background: #f1f1f1;
    width: 36.5625rem;
    font-weight: 400;
    color: black;
}

.search-input input:focus{
    border: 0.18rem solid #cdd7dc;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
    outline: none;
}

.search-input button {
    float: left;
    padding: 1.125rem;
    background: red;
    color: white;
    font-size: 1.06rem;
    border: 0.06rem solid grey;
    border-left: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0.31rem;
}

.fa-search{
    font-size: 1.6rem;
}

.search-input button:hover {
    background: rgba(226,35,25,.7);
}

.search-input::after {
    content: "";
    clear: both;
    display: table;
}

::placeholder {
    font-weight: 900;
    font-size: 1.25rem;
    color: #5a6369;
}


.student-container{
    background-color: white;
    padding-top: 3.75rem;
    padding-bottom: 5rem;

}

.student-heading h2{
    text-align: center;
    padding-bottom: 2.5rem;
    font-size: 2.5rem;
}

.student-img-details{
    width: 9.375rem;
    text-align: center;
    margin: 0 1.56rem;
}

.sub-student-container{
    margin: 0 auto;
}

.student-details{
    display: flex;
    justify-content: center;
}

.student-img-details img{
    width: 100%;
    max-width: 100%;
}

.student-img-details h3{
    text-align: center;
    padding-top: 0.7rem;
    font-size: 1.2rem;
    color: rgb(10, 45, 80);
}

.student-img-details h3:hover{
    text-decoration: underline 0.125rem;
    cursor: pointer;
}

.student-img-details p{
    text-align: center;
    padding-top: 0.5rem;
    line-height: 1.5;
    color: rgb(70, 78, 82);
    font-size: 1rem;
}


.student-experience {
    background-color: rgb(230, 235, 237);
    padding-bottom: 3.75rem;
    padding-top: 3.125rem;
}

.student-experience-heading h3{
    text-align: center;
    margin-bottom: 3.75rem;
    font-size: 1.875rem;
    font-weight: 700;
}

.student-experience-info{
    display: flex;
    column-gap: 1.25rem;
    margin: 0 auto;
    position: relative;
}

.student-experience-desc{
    width: 50%;
}

.sub-student-experience-desc1{
    border-bottom: 0.187rem solid #cdd7dc;
    padding-bottom: 1.56rem;
    line-height: 1.5;
}

.student-experience-desc p {
    font-size: 1.125rem;
    margin-bottom: 1.875rem;
    padding-right: 3.625rem;
}

.sub-student-experience-desc2 a{
    color: rgb(10, 45, 80);
    font-weight: 900;
    line-height: 2.1;
    font-family: "Kings Burea ThreeSeven";
}

.student-experience-img{
    width: 50%;
}

.student-experience-img img{
    width: 100%;
    max-width: 100%;
}

.container-fluid {
    max-width: 76.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 100%;
    margin: 0 auto;
}

.research-banner {
    background-color: rgb(59, 87, 115);
    padding: 3.6rem 0 5.6rem 0;
}

.research-container{
    color: white;
}

.research-heading h2 {
    text-align: center;
    margin-bottom: 3.25rem;
    font-size: 1.875rem;
    padding-top: 0;
}

.research-details{
    display: flex;
    justify-content: space-between;
    padding: 0 0.62rem;
}

.research-img-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 14.5rem;
}

#hover-effect:hover{
    text-decoration: underline rgba(255,255,255,.85);
    color: rgba(255,255,255,.85);
    cursor: pointer;
}

.research-img-details i{
    border-radius: 50;
}

.research-img-details h4 {
    font-size: 1.5rem;
    margin: 0 0 0.5rem;
    padding-top: 2rem;
    text-align: center;
}

.bg-icon {
    border-radius: 50%;
    background-color: #536c84;
    width: 9.375rem;
    height: 9.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.bg-icon i{
    font-size: 4rem;
    opacity: .7;
}

.discover-heading h2 {
    text-align: center;
    font-size: 2.375rem;
    padding-top: 3.75rem;
    padding-bottom: 1.875rem;
}
.discover-container{
    margin-bottom: 0.62rem;
}

.discover-img{
    width: 50%;
    position: relative;
}
.discover-img2 {
    position: relative;
    width: 25%;
}

.discover-img-details{
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    background-color: white;
    padding: 0.93rem 1.25rem 1.875rem;
    color: black;
    width: 18.125rem;
    height: 14.6875rem;
}


.discover-img-details2 {
    position: absolute;
    bottom: 2rem;
    left: 0rem;
    top: 8rem;
    background-color: #e6ebed;
    padding: 0.93rem 1.25rem 1.875rem;
    color: black;
    width: 100%;
    height: 14.375rem;
    object-fit: cover;
}

.sub-discover-heading{
    display: flex;
    justify-content: space-between;
    margin: 0 0 1.25rem;
}
.sub-discover-heading2{
    display: flex;
    justify-content: space-between;
    margin-top: 1.25rem;
}
.sub-discover-heading2 h3{
    font-size: 1.5rem;
    margin-bottom: 0.93rem;
}

.sub-discover-heading h3{
    font-size: 1.5rem;
}

.sub-discover-heading p a,
.sub-discover-heading2 p a{
    font-size: 1.125rem;
    color: #0A2D50;
}

.discover-img-container{
    display: flex;
    gap: 1.25rem;
}

.discover-img-details h5,
.discover-img-details2 h5,
.discover-img-details3 h5{
    font-size: 1.125rem;
    text-align: left;
    padding-bottom: 0.5rem;
    color: #0A2D50;
}

.discover-img-details h5:hover,
.discover-img-details2 h5:hover,
.discover-img-details3 h5:hover{
    color: #3b5773;
    text-decoration: none !important;
    cursor: pointer;
}

.discover-img:hover,
.discover-img2:hover{
    cursor: pointer;
}

.discover-img:hover h5,
.discover-img2:hover h5,
.discover-img3:hover h5{
    text-decoration: underline #3b5773;
}

.discover-img-details p,
.discover-img-details2 p{
    display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.6;
}


.discover-img-details3 p{
    text-align: left;
    font-size: 1rem;
    padding-top: 0.75rem;
    line-height: 1.5;
}

.discover-img-details3 p{
    font-size: 1rem;
}

.spec-img{
    width: 100%;
    height: 22.31rem;
    object-fit: cover;
}

.spec-img2{
    width: 100%;
    height: 8.62rem;
    object-fit: cover;
    max-width: 100%;
}

.flex-discover-img3{
    display: flex;
    justify-content: space-between;
}

.discover-img3{
    position: relative;
    margin-bottom: 20%;
}

.discover-img3::after,
.discover-img2::after,
.discover-img::after{
    position: absolute;
    width: 100%;
    content: "";
    top: 0;
    left: 0;
    height: 0.25rem;
    background-color: rgba(0, 0, 0, 0.2);
}

.sub-discover-img{
    position: relative;
}

.span-icon-calender {
    position: absolute;
    top: 0rem;
    left: 1rem;
    background-color: white;
    padding: 2rem 0 2rem 0;
    color: black;
    width: 4.31rem;
    height: 2.18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 0.56rem solid red;
    justify-content: center;
}


.spec-img3 {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    max-width: 100%;
}

.span-icon-number{
    font-size: 1.56rem;
    font-weight: 700;
}

.span-icon-month{
    font-size: 1.125rem;
}

.discover-img-details3 {
    position: absolute;
    bottom: 2rem;
    left: 0rem;
    top: 8rem;
    background-color: #e6ebed;
    padding: 1.187rem 1.25rem 1.875rem;
    color: black;
    height: 14.375rem;
    object-fit: cover;
}

.social-icon-container{
    max-width: 50%;
    margin: 0 auto;
}

.social-icon{
    display: flex;
    justify-content: space-around;
    padding-bottom: 1.875rem;
}

.social-icon li a{
    text-decoration: none;
    color: #5a6369;
    font-size: 1.25rem;
}

.fa-square-instagram,
.fa-youtube{
    color: red;
}

.fa-twitter{
    color: rgb(29, 161, 242);
}

.school-banner{
    object-fit: cover;
}



.sch-direction{
    background-color: #e6ebed;
    padding: 3.75rem 0;
    font-size: grace;
}

.sch-container{
    color: #5a6369;
}

.sch-details{
    display: flex;
    justify-content: space-between;
    padding: 0 0.62rem;
}

.sch-img-details i{
    border-radius: 50;
}

.sch-img-details a{
    border-radius: 50;
}

.sch-img-details {
    width: 33.33%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.25rem 2.5rem;
    text-align: center;
    cursor: pointer;
}

.sch-icon {
    border-radius: 50%;
    background-color: #0a2d50;
    width: 9.375rem;
    height: 9.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sch-icon i {
    font-size: 4rem;
    opacity: 4.7;
    color: white;
}

.sch-img-details h4 {
    font-size: 1.5rem;
    margin: 1.875rem 0 0.5rem;
    text-align: left;
    color: rgb(0, 0, 0);
}

.sch-img-details:hover h4 {
    color: #3b5773;
    cursor: pointer;
    text-decoration: underline;
}

.sub-social-icon{
    background-color: #0a2d50;
    color: white;
    padding: 1.56rem 0;
}

.sub-social-icon2{
    display: flex;
}

.sub-social-icon2 p {
    font-size: 1.5rem;
    font-weight: 900;
    padding-top: 0.375rem;
}

.sub-social-icon2 ul {
    display: flex;
}

.sub-social-icon2 ul li {
    color: white;
    padding-left: 0.8125rem;
}

.sub-bg-icon {
    --size: 2.5rem;
    border: 0.125rem solid rgba(255,255,255,.4);
    border-radius: 50%;
    background-color: #0A2D50;
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s ease-in;
}

.sub-bg-icon a i{
    color: white;
    font-size: 1rem;
    padding: 0;
    transition: .2s ease-in;
}

.sub-bg-icon:hover {
    background-color: #fff;
    cursor: pointer;
}

.sub-bg-icon:hover a i {
    color: #0A2D50;
}

.footer-bg{
    background-color: #5a6369;
    padding: 3.75rem 0;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    column-gap: 1.25rem;
}

.footer-lists{
    color: white;
    flex: 1;
}

.footer-lists p{
    border-bottom: 0.18rem solid rgba(139,146,150,.5);
    padding-bottom: 0.93rem;
    font-size: 1.3125rem;
}

.footer-lists ul li a{
    color: #e6ebed;
    font-size: 1rem;
}
.footer-lists ul li a:hover{
    text-decoration: none;
}

.footer-lists ul li a:hover + .hide{
    color: #4f5153;
    display: block;
    background-color: white;
    margin-left: 4rem;
    padding: 0.31rem;
    font-size: 0.75rem;
}

.hide {
    display: none;
}

.footer-lists ul li{
    padding: 0.4375rem 0 0.125rem 0.125rem;
}

.footer-lists img{
    margin-top: 3rem;
    width: 11.25rem;
    height: 8.56rem;
    object-fit: cover;
}

.sub-footer-bg{
    background-color: #3e4649;
    padding: 1.25rem;
}

.fixed-svg {
    width: 3.12rem;
    height: 3.12rem;
    background-color: rgb(106, 170, 228);
    border-radius: 0.62rem;
    color: white;
    position: fixed;
    bottom: 0.31rem;
    left: 0.62rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.31rem;
}

.fixed-svg svg{
    width: 2.18rem;
    height: 2.31rem;
}
.sub-footer-lists2 ul{
    display: flex;
}

.sub-footer-lists2 ul li a{
    text-decoration: none;
    color: white;
    padding-right: 2.5rem;
    font-size: 1rem;
}

.sub-footer-lists2 ul li a:hover{
    text-decoration: underline;
}

.kcl-icons {
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

.kcl-icons::before {
    font-size: 3.75rem;
    opacity: .7;
    font-family: "kcl icons"!important;
}

.icon-instagram::before {
    color: red;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    transition: all .2s ease;
    content: "\e917";
    font-size: 1.25rem;
}

.icon-link::before {
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    transition: all .2s ease;
    content: "\e919";
}

.icon-book::before{
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    transition: all .2s ease;
    content: "\e904";
}

.icon-location::before{
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    transition: all .2s ease;
    content: "\e925";
}


.icon-pin::before{
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    transition: all .2s ease;
    content: "\e921";
}

.icon-setting::before{
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    transition: all .2s ease;
    content: "\e90c";
}

.icon-globe::before{
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    transition: all .2s ease;
    content: "\e918";
}